<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./styles/banner.css" />
    <script src="showcomponent.js"></script>
    <title>banner</title>
  </head>
  <body>
    <a href="../" class="position:absolute; top: 5px; left: 5px;"
      ><svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 6L6 1" stroke="black" stroke-linecap="round" />
        <path d="M1 6H11" stroke="black" stroke-linecap="round" />
        <path d="M1 6L6 11" stroke="black" stroke-linecap="round" />
      </svg>
    </a>
    <hr />
    <h1 class="component-name">banner</h1>
    <hr />
    <h2>slogan title</h2>
    <hr />
    <div class="slogan-title">
      <span>텍스트TEXT</span>
      <span class="highlight">텍스트text</span>
    </div>
    <hr />
    <h2>slogan subtitle</h2>
    <hr />
    <div class="slogan-subtitle">텍스트</div>
    <hr />
    <h2>slogan</h2>
    <hr />
    <div class="slogan">
      <div class="slogan-title">
        <span>텍스트TEXT</span>
        <span class="highlight">텍스트text</span>
      </div>
      <div class="slogan-subtitle">텍스트</div>
    </div>
    <hr />
    <h2>view menu link</h2>
    <hr />
    <a href="#void" class="view-menu-link">링크</a>
    <hr />
    <h2>banner item info</h2>
    <hr />
    <div class="banner-item-info">
      <p class="item-name">아이템 이름</p>
      <p class="item-type-kr">아이템 종류</p>
      <p class="item-type-en">item type</p>
    </div>
    <hr />
    <h2>banner item image</h2>
    <div class="banner-item-image">
      <img src="../assets/home/home-item3.png" alt="" /><img
        src="../assets/home/home-item2.png"
        alt=""
      />
    </div>
    <hr />
    <h2>banner background</h2>
    <hr />
    <section class="banner" style="height: 300px">임의 높이입니다.</section>
    <hr />
    banner
    <hr />
    <section class="banner">
      <div class="slogan">
        <div class="slogan-title">
          <span>텍스트TEXT</span>
          <span class="highlight">텍스트text</span>
        </div>
        <div class="slogan-subtitle">텍스트</div>
      </div>
      <a href="#void" class="view-menu-link">링크</a>
      <div class="banner-item-image">
        <img src="../assets/home/home-item3.png" alt="" /><img
          src="../assets/home/home-item2.png"
          alt=""
        />
      </div>
    </section>
  </body>
</html>
