<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="../assets/logo/symbol-light.svg" />
    <link rel="stylesheet" href="./styles/header.css" />
    <script src="showcomponent.js"></script>
    <title>header</title>
  </head>
  <body>
    <a href="../" class="position:absolute; top: 5px; left: 5px;"
      ><svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 6L6 1" stroke="black" stroke-linecap="round" />
        <path d="M1 6H11" stroke="black" stroke-linecap="round" />
        <path d="M1 6L6 11" stroke="black" stroke-linecap="round" />
      </svg>
    </a>
    <hr />
    <h1 class="component-name">header</h1>
    <hr />
    <h2>logo</h2>
    <hr />
    <a href="#void" class="logo-link"
      ><img src="../assets/logo/logo-light.svg" alt=""
    /></a>
    <hr />
    <h2>menu link</h2>
    <hr />
    <a href="#void" class="menu-link">메뉴 링크</a>
    <hr />
    <h2>menu nav</h2>
    <hr />
    <nav class="menu-nav">
      <ul>
        <li>아이템</li>
        <li>아이템</li>
        <li>아이템</li>
      </ul>
    </nav>
    <hr />
    <h2>header bar</h2>
    <hr />
    <header class="header"></header>
    <hr />
    <h2>header</h2>
    <hr />
    <header class="header">
      <a href="#void" class="logo-link"
        ><img src="../assets/logo/logo-light.svg" alt=""
      /></a>
      <nav class="menu-nav">
        <ul>
          <li><a href="#void" class="menu-link">메뉴 링크</a></li>
          <li><a href="#void" class="menu-link">메뉴 링크</a></li>
          <li><a href="#void" class="menu-link">메뉴 링크</a></li>
        </ul>
      </nav>
      <button class="menu-icon">
        <img src="../assets/icon/hamburger.svg" alt="" />
      </button>
    </header>
  </body>
</html>
