<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./styles/promotion.css" />
    <script src="showcomponent.js"></script>
    <title>promotion</title>
  </head>
  <body>
    <a href="../" class="position:absolute; top: 5px; left: 5px;"
      ><svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 6L6 1" stroke="black" stroke-linecap="round" />
        <path d="M1 6H11" stroke="black" stroke-linecap="round" />
        <path d="M1 6L6 11" stroke="black" stroke-linecap="round" />
      </svg>
    </a>
    <hr />
    <h1 class="component-name">promotion</h1>
    <hr />
    <h2>video</h2>
    <hr />
    <iframe
      class="promotion-video"
      src="https://www.youtube.com/embed/UGPo0RqhbKU"
      title="[이디야커피] 고객감사 영상"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <hr />
    <h2>notice control</h2>
    <hr />
    <div class="notice-control">
      <div class="notice-control-title">NOTICE</div>
      <div class="notice-control-button">
        <button type="button" class="previous-view-button">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="0.5" y="1" width="15" height="15" stroke="#0F0F0F" />
            <path d="M9.25 11L6.75 8.5L9.25 6" stroke="#0F0F0F" />
          </svg>
        </button>
        <button type="button" class="next-view-button">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="-0.5"
              y="0.5"
              width="15"
              height="15"
              transform="matrix(-1 0 0 1 15 0.5)"
              stroke="#0F0F0F"
            />
            <path d="M6.75 11L9.25 8.5L6.75 6" stroke="#0F0F0F" />
          </svg>
        </button>
      </div>
    </div>
    <hr />
    <h2>notice contents</h2>
    <hr />
    <div class="notice-contents">
      <div class="notice-title">공지 제목</div>
      <div class="notice-time">공지 시간</div>
      <div class="notice-detail">공지 글</div>
    </div>
    <hr />
    <h2>news-link</h2>
    <hr />
    <a class="news-link" href="#void"
      ><span class="news-link-company">언론사</span
      ><span class="news-link-headline">헤드라인</span
      ><span class="news-link-time">등록일자</span></a
    >
    <hr />
    <h2>news</h2>
    <hr />
    <div class="news-headline-list">
      <div class="news-header">
        <div class="news-text">NEWS</div>
        <button type="button" class="news-view-button">
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="0.5" y="1" width="15" height="15" stroke="#0F0F0F" />
            <path
              d="M5.00003 8.52114H11M8.05334 5.5L8.05334 11.5"
              stroke="#0F0F0F"
            />
          </svg>
        </button>
      </div>
      <ul class="news-list">
        <li class="news-info">
          <a class="news-link" href="#void"
            ><span class="news-link-company">언론사</span
            ><span class="news-link-headline">헤드라인</span
            ><span class="news-link-time">등록일자</span></a
          >
        </li>
        <li class="news-info">
          <a class="news-link" href="#void"
            ><span class="news-link-company">언론사</span
            ><span class="news-link-headline">헤드라인</span
            ><span class="news-link-time">등록일자</span></a
          >
        </li>
      </ul>
    </div>
    <hr />
    <h2>promotion</h2>
    <hr />
    <section class="promotion">
      <iframe
        class="promotion-video"
        src="https://www.youtube.com/embed/UGPo0RqhbKU"
        title="[이디야커피] 고객감사 영상"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <div class="notice-control">
        <div class="notice-control-title">NOTICE</div>
        <div class="notice-control-button">
          <button type="button" class="previous-view-button">
            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="0.5" y="1" width="15" height="15" stroke="#0F0F0F" />
              <path d="M9.25 11L6.75 8.5L9.25 6" stroke="#0F0F0F" />
            </svg>
          </button>
          <button type="button" class="next-view-button">
            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="-0.5"
                y="0.5"
                width="15"
                height="15"
                transform="matrix(-1 0 0 1 15 0.5)"
                stroke="#0F0F0F"
              />
              <path d="M6.75 11L9.25 8.5L6.75 6" stroke="#0F0F0F" />
            </svg>
          </button>
        </div>
      </div>
      <div class="notice-contents">
        <div class="notice-title">공지 제목</div>
        <div class="notice-time">공지 시간</div>
        <div class="notice-detail">공지 글</div>
      </div>
      <div class="news-headline-list">
        <div class="news-header">
          <div class="news-text">NEWS</div>
          <button type="button" class="news-view-button">
            <svg
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="0.5" y="1" width="15" height="15" stroke="#0F0F0F" />
              <path
                d="M5.00003 8.52114H11M8.05334 5.5L8.05334 11.5"
                stroke="#0F0F0F"
              />
            </svg>
          </button>
        </div>
        <ul class="news-list">
          <li class="news-info">
            <a class="news-link" href="#void"
              ><span class="news-link-company">언론사</span
              ><span class="news-link-headline">헤드라인</span
              ><span class="news-link-time">등록일자</span></a
            >
          </li>
          <li class="news-info">
            <a class="news-link" href="#void"
              ><span class="news-link-company">언론사</span
              ><span class="news-link-headline">헤드라인</span
              ><span class="news-link-time">등록일자</span></a
            >
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
