.header_inner {
    width: 1280px;
    height: 156px;
    padding: 70px 0 42px;
    position: relative;
}

.search_special_bg {
    width: 1280px;
    height: 267px;
    position: absolute;
    bottom: 1px;
}

.search_area {
    width: 706px;
    height: 58px;
    border: 1px solid rgb(3, 199, 90);
    position: absolute;
    border-radius: 50px;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

#search-right-banner {
    width: 162px;
    height: 40px;
    position: absolute;
    top: 80px;
    right: 0;
}

#shortcutArea {
    width: 676px;
    height: 75px;
    margin: 72px auto 0;
}
.menu_area {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 18px;
    left: -10px;
}

.pay_area {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 18px;
    left: 43px;
    padding: 0;
}
.talk_area {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 18px;
    right: 40px;
}
.notify_area {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 18px;
    right: -10px;
}
.btn_menu {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border-style: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.btn_menu:hover {
    background-color: rgb(245, 247, 248);
    cursor: pointer;
}
#topAsideButton {
    background-image: url("../img/top_aside_icon.png");
}
#topPayButton {
    background-image: url("../img/top_pay_icon.png");
}
#topTalkButton {
    background-image: url("../img/top_talk_icon.png");
}
#topNotiButton {
    background-image: url("../img/top_noti_icon.png");
}
.shortcut_item {
    display: inline-block;
    width: 64px;
    height: 75px;
    margin-left: -3px;
}
.shortcut_item:first-child {
    margin-left: 0;
}