@import "../../styles/_base-style.css";
@import "../../styles/a11y.css";
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
h1.component-name {
  text-align: center;
}
.promotion-video {
  width: 100%;
  aspect-ratio: 1.7 / 1;
  @media (min-width: 768px) {
    width: 365px;
  }
}

.notice-control {
  display: grid;
  background: linear-gradient(
    calc(var(--gradient-blue-angle) * (-1)),
    var(--gradient-blue-start),
    var(--gradient-blue-end)
  );
  .notice-control-title {
    grid-area: 1 / 1;
    place-self: start start;
    padding-top: 15px;
    padding-left: 15px;
    color: var(--white);
  }
  .notice-control-button {
    font-size: 0;
    grid-area: 1 / 1;
    place-self: end end;
    padding-bottom: 10px;
    padding-right: 10px;
    [class$="-button"] {
      background: 0;
      border: 0;
      padding: 0;
      margin: 0;
    }
    .previous-view-button {
      translate: 1px 0;
    }
    rect,
    path {
      stroke: var(--snow);
    }
  }
}
.notice-contents {
  padding: 16px 15px;
  background: var(--white);
  > * {
    line-height: 1;
    /* letter-spacing: -2%; */
    font-weight: 400;
  }
  .notice-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-blue1);
    margin-bottom: 5px;
  }
  .notice-time {
    font-size: 12px;
    color: var(--lightgray);
    margin-bottom: 10px;
  }
  .notice-detail {
    font-size: 13px;
    line-height: 1.5;
    /* letter-spacing: -4%; */
    color: var(--darkgray);
  }
  @media (min-width: 768px) {
    padding: 15px;
    padding-right: 20px;
  }
}
.news-link {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  align-items: center;
  [class^="news-link-"] {
    color: var(--snow);
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
  }
  .news-link-company {
    &::before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }
  .news-link-headline {
    flex-grow: 1;
  }
  .news-link-time {
    font-size: 12px;
  }
}
.news-headline-list {
  background: var(--primary-blue1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  .news-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .news-text {
      font-size: 16px;
      font-weight: 700;
      color: var(--white);
    }
    .news-view-button {
      background: 0;
      border: 0;
      padding: 0;
      margin: 0;
    }
    rect,
    path {
      stroke: var(--snow);
    }
  }
  .news-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.promotion {
  display: grid;
  grid-template-columns: 125px 1fr;
  .promotion-video {
    grid-column: 1 / -1;
  }
  .news-headline-list {
    grid-column: 1/-1;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 125px 1fr;
    .promotion-video {
      grid-area: 1/1/3/2;
    }
    .notice-control {
      grid-area: 1/2/2/3;
    }
    .notice-contents {
      grid-area: 1/3/2/4;
    }
    .news-headline-list {
      grid-area: 2/2/3/4;
    }
  }
}
